<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to StudySpace!</title>
    <style>
        body {
            font-family: sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .button {
            display: inline-block;
            background-color: #659B35;
            color: #fff;
            padding: 10px 20px;
            font-weight: 700;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Chào mừng bạn đến với MangaStore!</h1>
    <p>Cảm ơn bạn đã đăng ký tài khoản của chúng tôi. Để hoàn tất quá trình đăng ký, vui lòng nhấp vào liên kết dưới đây:</p>
    <p><a href="{{verifyUrl}}" class="button">Xác nhận tài khoản</a></p>
    <p>Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này.</p>
    <p>Trân trọng,<br>Đội ngũ MangaStore</p>
</div>
</body>
</html>